* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    background-color: #DC0A2D;
}

.title-container {
    display: flex;
    margin: 24px;
}
.title-container img {
    left: 0.51%;
    right: 0.51%;
    top: 0%;
    bottom: 0%;
}

.title-container h1 {
    color: #fff;
    width: 106px;
    height: 32px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-left: 2rem;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px 8px 12px;
    gap: 8px;
    width: 70%;
    height: 32px;
    background: #FFFFFF;
    box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin-left: 2rem;
}
.search-container input {
    width: 300px;
    height: 30px;
}

.grid-container {
    background-color: #fff;
    margin: 2rem 1rem;
    height: 82rem;
    border-radius: 10px;
    box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
}
.card-pokemon {
    border: solid;
    width: 104px;
    height: 108px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(239,239,239,1) 50%);
}
.card-pokemon h2 {
    font-size: 10px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1D1D1D;
}

