* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    background-color: #DC0A2D;
}
/* TITLE CONTAINER */
.title-container {
    display: flex;
    margin: 24px;
}
.title-container img {
    left: 0.51%;
    right: 0.51%;
    top: 0%;
    bottom: 0%;
    cursor: pointer;
}

.title-container h1 {
    color: #fff;
    width: 106px;
    height: 32px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-left: 1.2rem;
    cursor: pointer;
}
/* SEARCH CONTAINER */
.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px 8px 12px;
    gap: 8px;
    width: 100%;
    height: 32px; 
    flex: none;
    order: 0;
    flex-grow: 1;
    margin-left: 2rem;
}
.search-sort {
    display: flex;
    box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    justify-content: center;
    margin-left: 5rem;
    cursor: pointer;
}
.search-sort button {
    justify-content: center;
    cursor: pointer;
}
.search-container input {
    width: 340px;
    background: #FFFFFF;
    height: 25px;
    border: none;
}
.search-container button {
    border: none;
    background-color: transparent;
}
.search-button-container {
    width: 70%;
    height: 30px;
    background-color: #fff;
    box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}
.search-button img {
    padding-left: 10px;
    padding-top: 5px;
    justify-content: center;
    cursor: pointer;
}
/* GRID  */
.grid-container {
    background-color: #fff;
    margin: 2rem 1rem;
    height: 82rem;
    padding: 3rem 2rem;
    border-radius: 10px;
    box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
}
/* CARD POKEMON */
.card-pokemon {
    width: 104px;
    height: 108px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(239,239,239,1) 50%);
    display: flex;
    display: inline-flex;
    flex-direction: column;
    cursor: pointer;
    margin: 5px;
}
.card-pokemon:hover {
    filter: brightness(1.1);
    cursor: pointer;
    transform: scale(1.05);
}
.card-pokemon h2 {
    justify-content: center;
    font-size: 10px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1D1D1D;
}

.card-pokemon p{
    display: flex;
    justify-content: end;
    margin-right: 5px;
}

.container-img {
    display: flex;
    justify-content: center;
}
/* 
CARD INFORMATION CSS */
#card-information {
    background-color: darkgray;
    font-family: 'Poppins';
    font-style: normal;

}
.card-information-container {
   display: flex;
   text-align: center;
   width: 100%;
}
/* TITLE CONTAINER CARD INFORMATION */
.title-container-card {
    color: #fff;
    display: flex;
    justify-content: center;
    display: flex;
    margin: 24px;
}

.title-container-card img {
    margin-right: 50px;
    margin-left: 50px;
    cursor: pointer;
}
.title-container-card h1 {
    width: 50px;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.title-container-card p {
    margin-left: 80px;
    margin-right: 40px;
    font-size: 12px
}
/* IMAGES CONTAINER */
.images-container {
    width: 100%;
    display: flex;
    display: inline-flex;
    justify-content: center;
}
.images-container .previus-button {
    background-color: transparent;
    cursor: pointer;
    height: 30px;
    margin-top: 93px;
    margin-right: 58px;
    border: none;
}

.images-container .next-button {
    background-color: transparent;
    cursor: pointer;
    height: 30px;
    margin-top: 93px;
    margin-left: 58px;
    border: none;
}
.images-container img {
    cursor: pointer;
}
/* INFORMATION CONTAINER */
.information-container {
    width: 98%;
    height: 58rem;
    background-color: #fff;
    margin: -49px 10px;
    border-radius: 16px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.button-type-container {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
.type-button {
    margin: 0 10px;
    width: 50px;
    border-radius: 16px;
    height: 25px;
    background-color: #666666;
    color: #fff;
    cursor: pointer;
}
.information-about {
    display: flex;
    justify-content: center;
    color: #B8B8B8;
    margin-top: 30px;
}
.information-about h1 {
    font-size: 15px;
}
/* INFORMATION DESCRIPTION */
.information-description {
    display: flex;
    display: inline-flex;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}

.weight-information {
    margin: 0 30px;
}
.description-organize {
    display: flex;
    display: inline-flex;
    margin-bottom: 30px;
}
.description-organize img {
    margin-right: 10px;
}
.description-organize p {
   font-size: 12px;
  justify-content: center;
  color: #666666;
}
.description-organize h2 {
    color: #666666;
    display: flex;
    justify-content: center;
}
.height-information {
    margin: 0 30px;
}
.moves-information {
    margin: 0 30px;
}
.moves-information h2 {
    margin-top: 20px;
    font-size: 12px;
}
.description-pokemon {
    display: flex;
    margin: 30px 24px;
    justify-content: center;
}
.description-pokemon p {
    font-weight: 400;       
    font-size: 12px;
    line-height: 16px;
}

/* BASE STATS */
.base-stats-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
}
.base-stats-container h1 {
    color: #B8B8B8;
}
.stats-container {
    display: flex;
    display: inline-flex;
}
.stats {
    margin-left: 30px;
    margin-top: 30px;
    color: #B8B8B8;
}
.stats h3 {
    margin-top: 6px;
}
.divider-stats {
    margin-left: 34px;
    margin-top: 40px;
}